.main {
  text-align: center;
}

.main-header {
  background-color: #283044;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: white;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
