.course-list-item {
  width: 25%;
  border-radius: 3%;
  background-color: #283044;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.item-img {
  width: 25%;
  height: auto;
  margin: 5px;
}

.item-text {
  width: 65%;
  font-size: 0.8em;
}

.item-name {
  color: white;
  font-weight: bold;
}

.item-title {
  color: #f5c3c0;
}

.item-rating {
  color: #b19a8c;
  font-weight: 600;
}

.heart-icon {
  width: 10%;
  margin: 5px;
  color: #f1564b;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 992px) {
  .course-list-item {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .course-list-item {
    width: 80%;
  }
}
